.searchbar{
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 20px;
    position: sticky;
    top: 0;
    display: flex;
    overflow: hidden;
    padding: 10px;
    align-items: center;
}
    .searchbar__icon{
        color: var(--text-color);
        flex-grow: 1;
        font-size: 1.2rem;
    }
    .searchbar__input{
        flex-grow: 3;
        background-color: transparent;
        font-size: 1.2rem;
        outline: none;
        caret-color: var(--text-color);
        color: var(--text-color);
    }