.tweet{
    display: flex;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: var(--tweet-border);
    padding: 10px;
}

.tweet__pfp{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    flex-basis: 10%;
}

.tweet__container{
    flex-grow: 8;
    flex-basis: 90%;
}
    .tweet__tweet-top{
        display: flex;
    }
    .tweet__tweet-bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
@media (max-width: 420px){
    .tweet__pfp{
        flex-basis: 15%;
        padding: 10px 0;
    }
    .tweet__container{
        flex-basis: 80%;
        padding: 10px;
    }
}