.tweet{
    display: flex;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: var(--tweet-border);
    padding: 10px;
}

.tweet__pfp{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.tweet__container{
    flex-grow: 8;
}
    .tweet__tweet-top{
        display: flex;
    }
    .tweet__tweet-bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }