.feed__header{
    border-left: var(--tweet-border);
    border-right: var(--tweet-border);
    border-bottom: var(--tweet-border);
    background-color: var(--bg-translucent);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    height: 10vh;
    padding-top: 20px;
    padding-left: 10px;
}
.feed-container{
    /* height: 200vh; */
}
.feed_pfp_mobile, .feed__settings_mobile{
    display: none;
}

@media (max-width: 420px){
    .feed{
        width: 100%;
    }
    .feed_pfp_mobile, .feed__settings_mobile{
        display: block;
        font-size: 1.6em;
    }
    .feed__h1_desk{
        display: none;
    }
    .feed__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
}
