.feed{
    margin-left: 18vw;
    width: 50%;
    
}
.feed__header{
    border-left: var(--tweet-border);
    border-right: var(--tweet-border);
    border-bottom: var(--tweet-border);
    background-color: var(--bg-translucent);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    height: 7vh;
}
.feed-container{
    height: 200vh;
}