.right-sidebar{
    width: 18vw;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--bg-color);
}

.right-sidebar__container{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    position: sticky;
    top: 0;

    
    
}

.right-sidebar__trends, .right-sidebar__footer{
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    color: var(--text-color);
}


.right-sidebar__footer{
 display: flex;
 flex-wrap: wrap;
 gap: 0 15px;
}