@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom variables */
:root{
  --twitter-acc-color: #1e9bf0;
  --twitter-grey: #16181c;
  --tweet-border:  solid #343434 1px;
  --text-color: white;
  --bg-color: #000000;
  --bg-translucent: rgba(0, 0,0, 0.5);
  --icon-hover:#242424;
  --accent-color: #16181c;
}
body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-color);
 
}
.body-wrapper{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.children-wrapper{
  margin-left: 18vw;
  width: 50%;
  flex-basis: 70%;
}


/* PFP styles */
.pfp-mini{
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 100%;
}