@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #9ae4e8;
 
}
.body-wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}